.App {
  text-align: center;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-self: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .Board {
  flex: 1;
  margin-inline: 10%;
}

.App .Timer {
  flex: 1;
}